:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --icon-color:#AFB1B8;
  --main-logo-color: #2196f3;
  --firstAccent-logo-color: #000000;
  --secondAccent-logo-color: white;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third--background-color: #f5f4fa;
  --hero-btn-background-color: #2196f3;
  --portfolio-btn-background-color: #f5f4fa;
  --fonts: "Roboto", "-apple-system", "BlinkMacSystemFont", "avenir next", "avenir", "segoe ui", "helvetica neue",
  "helvetica", "Cantarell", "Ubuntu", "roboto", "noto", "arial", sans-serif;
  --logo-fonts: "Raleway", sans-serif;
  --hero-overlay: rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4);
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: var(--fonts);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  width: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.request__btn, .subscription__btn, .filters__btn, .hero__btn {
  font-family: inherit;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.logo {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  text-decoration: none;
  color: var(--main-logo-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 92px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo--accentBlack {
  color: var(--firstAccent-logo-color);
}

.logo--accentWhite {
  color: var(--secondAccent-logo-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
  height: 60px;
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .header__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__subwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__subwrap {
    display: none;
  }
}

.header__logo {
  margin-right: 93px;
  padding: 16px 0;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 26px 0;
  }
}

.header__btn-open, .header__btn-close {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__btn-open, .header__btn-close {
    display: none;
  }
}

.header__btn-close {
  display: block;
  margin-left: auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px 38px 30px;
  background-color: var(--main-background-color);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 999;
}
@media screen and (min-width: 480px) {
  .header__menu {
    padding: 10px 15px 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.navigation {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .navigation {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    width: 283px;
    margin-bottom: 0;
    margin-right: 90px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    width: 288px;
    margin-right: 312px;
  }
}

.navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .navigation__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

.navigation__link, .contacts__link {
  color: var(--title-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .contacts__link:hover, .navigation__link:focus, .contacts__link:focus {
  color: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .navigation__link, .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.current {
  color: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
    position: absolute;
    bottom: 0;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
    gap: 32px;
  }
}
@media screen and (max-width: 479px) {
  .contacts {
    margin-bottom: 40px;
    gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    width: 138px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: 335px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__contacts {
  margin-left: auto;
}

.contacts__link {
  color: var(--main-text-color);
}
@media screen and (max-width: 767px) {
  .contacts__link {
    -ms-flex-preferred-size: 480px;
        flex-basis: 480px;
  }
}
@media screen and (max-width: 1199px) {
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill: currentColor;
    gap: 8px;
    padding: 0%;
  }
}

.contacts__link--tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
@media screen and (min-width: 480px) {
  .contacts__link--tel {
    font-size: 34px;
  }
}

.contacts__link--mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .contacts__link--mail {
    font-size: 34px;
  }
}

.contacts__icon {
  display: inline-block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon:hover, .contacts__icon:focus {
  color: var(--brand-color);
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.hero {
  padding: 118px 0px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay))), url("../images/hero/img_hero_480_1x.jpg");
  background-image: linear-gradient(var(--hero-overlay)), url("../images/hero/img_hero_480_1x.jpg");
  background-size: 480px 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay))), url("../images/hero/img_hero_480_2x.jpg");
    background-image: linear-gradient(var(--hero-overlay)), url("../images/hero/img_hero_480_2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    max-height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay))), url("../images/hero/img_hero_768_1x.jpg");
    background-image: linear-gradient(var(--hero-overlay)), url("../images/hero/img_hero_768_1x.jpg");
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay))), url("../images/hero/img_hero_768_2x.jpg");
    background-image: linear-gradient(var(--hero-overlay)), url("../images/hero/img_hero_768_2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay))), url("../images/hero/img_hero_1200_1x.jpg");
    background-image: linear-gradient(var(--hero-overlay)), url("../images/hero/img_hero_1200_1x.jpg");
    background-size: 1600px 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay))), url("../images/hero/img_hero_1200_2x.jpg");
    background-image: linear-gradient(var(--hero-overlay)), url("../images/hero/img_hero_1200_2x.jpg");
  }
}

.hero__wrap {
  width: 100%;
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0px auto 30px auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 696px;
  }
}

.hero__btn {
  min-width: 216px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--hero-btn-background-color);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--third--background-color);
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  line-height: 1.7142857143;
}

.profile {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .profile {
    display: none;
  }
}

.profile__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-color);
}

.profile__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__item {
  position: relative;
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
}
.profile__item:not(:last-child) {
  margin-right: 30px;
}

.profile__box {
  padding: 27px 0px;
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0%;
  margin: 0px;
}

.profile__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.team {
  background-color: var(--third--background-color);
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team__img {
  width: 100%;
}

.team__card {
  text-align: center;
  background-color: var(--main-background-color);
  padding: 30px 0px;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--title-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials--menu {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .socials--menu {
    font-size: 18px;
  }
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__item--menu:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  color: var(--second-text-color);
  background-color: var(--brand-color);
}

.socials__link--menu {
  color: var(--brand-color);
}

.socials__link--accession {
  background-color: rgba(225, 255, 255, 0.1);
  color: var(--second-text-color);
}

.socials__icon {
  fill: currentColor;
}

.clients__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.1785714286;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.clients-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__item {
  height: 92px;
  background-color: var(--main-background-color);
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

.clients__icon {
  fill: currentColor;
}

.portfolio__filters {
  margin: 0 auto 40px auto;
}
@media screen and (min-width: 768px) {
  .portfolio__filters {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filters {
    margin-bottom: 50px;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
}
@media screen and (max-width: 767px) {
  .filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filters__btn {
  padding: 6px 22px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-color);
  background-color: var(--portfolio-btn-background-color);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--brand-color);
  color: var(--second-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .works {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.works__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .works__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .works__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.works__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.works__link:hover, .works__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.works__overlay {
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .works__overlay {
    font-size: 13px;
    line-height: 1.5555555556;
    padding: 30px 20px;
  }
}
@media screen and (min-width: 480px) {
  .works__overlay {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .works__overlay {
    padding: 63px 24px;
  }
}

.works__link:hover .works__overlay,
.works__link:focus .works__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.works__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works__description--addheight {
    height: 146px;
  }
}

.works__title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works__text {
  font-size: 16px;
  line-height: 1.875;
}

.footer {
  padding: 60px 0px;
  background-color: var(--second-background-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    width: 232px;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}

.address__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .address__items {
    text-align: center;
    margin-bottom: 60px;
  }
}

.address__item {
  -ms-flex-preferred-size: 232px;
      flex-basis: 232px;
}

.address__link {
  line-height: 1.7;
}

.address__link--address {
  color: var(--second-text-color);
}

.address__link--mail,
.address__link--tel {
  color: rgba(255, 255, 255, 0.6);
}

.accession {
  margin-bottom: 60px;
  width: 206px;
}
@media screen and (min-width: 1200px) {
  .accession {
    margin-right: 93px;
  }
}

.accession__text {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--second-text-color);
}
@media screen and (max-width: 1199px) {
  .accession__text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .subscription {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    width: 570px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription__form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription__text {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--second-text-color);
}
@media screen and (max-width: 1199px) {
  .subscription__text {
    text-align: center;
  }
}

.subscription__field {
  display: block;
  width: 290px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin: 0 auto 20px auto;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .subscription__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__field {
    width: 358px;
    margin: 0 12px 0 0;
  }
}
.subscription__field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscription__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscription__field:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscription__field::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscription__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscription__field:focus {
  outline: transparent;
}

.subscription__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  height: 50px;
  padding: 10px 28px;
  text-align: center;
  color: var(--second-text-color);
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 300px;
  height: 460px;
  padding: 20px;
  border-radius: 4px;
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(1);
          transform: translate(-50%, -50%) scaleX(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--main-background-color);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__icon {
  fill: var(--brand-color);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleX(0);
          transform: translate(-50%, -50%) scaleX(0);
}

.modal__text {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}
@media screen and (min-width: 480px) {
  .modal__text {
    font-size: 20px;
  }
}

.request__wrap {
  margin-bottom: 6px;
}
@media screen and (min-width: 480px) {
  .request__wrap {
    margin-bottom: 10px;
  }
}

.request__label:not(.agreement__label) {
  display: block;
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-size: 10px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 480px) {
  .request__label:not(.agreement__label) {
    font-size: 12px;
  }
}

.request__field {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline-color: transparent;
}
.request__field:focus {
  outline: transparent;
  border-color: var(--brand-color);
}
@media screen and (min-width: 480px) {
  .request__field {
    font-size: 20px;
  }
}

.request__field:focus + .request__icon {
  fill: var(--brand-color);
}

.request__subwrap {
  position: relative;
}

.request__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
}

.request__field--textarea {
  padding: 12px 16px;
  height: auto;
  resize: none;
}
.request__field--textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 10px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.request__field--textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 10px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.request__field--textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 10px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.request__field--textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 10px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.request__field--textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 10px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 480px) {
  .request__field--textarea::-webkit-input-placeholder {
    font-size: 12px;
  }
  .request__field--textarea::-moz-placeholder {
    font-size: 12px;
  }
  .request__field--textarea:-ms-input-placeholder {
    font-size: 12px;
  }
  .request__field--textarea::-ms-input-placeholder {
    font-size: 12px;
  }
  .request__field--textarea::placeholder {
    font-size: 12px;
  }
}

.agreement {
  width: 100%;
}

.agreement__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  line-height: 1.1666666667;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: pre-wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .agreement__label {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .agreement__label {
    font-size: 14px;
    line-height: 2;
  }
}

.agreement__subwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
  border: 2px solid var(--firstAccent-logo-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  fill: transparent;
}

.agreement__link {
  color: var(--brand-color);
  text-underline-offset: 4px;
}

.agreement__input:checked + .agreement__label span {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  fill: var(--second-text-color);
}

.request__btn {
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 10px auto 0 auto;
  padding: 10px 52px;
  background-color: var(--brand-color);
  color: var(--second-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 480px) {
  .request__btn {
    margin: 30px auto 0 auto;
    font-size: 16;
  }
}/*# sourceMappingURL=main.css.map */