:root {
  --brand-color: #2196f3;

  --title-color: #212121;

  --icon-color:#AFB1B8;

  --main-logo-color: #2196f3;
  --firstAccent-logo-color: #000000;
  --secondAccent-logo-color: white;

  --main-text-color: #757575;
  --second-text-color: #ffffff;

  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third--background-color: #f5f4fa;
  
  --hero-btn-background-color: #2196f3;
  --portfolio-btn-background-color: #f5f4fa;

  --fonts: 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'avenir next', 'avenir', 'segoe ui', 'helvetica neue',
  'helvetica', 'Cantarell', 'Ubuntu', 'roboto', 'noto', 'arial', sans-serif;
  --logo-fonts: 'Raleway', sans-serif;

  --hero-overlay: rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4);
}